{% extends "emails/base.html" %}

{% block content %}
<h1>Hello,</h1>
<p>The check<a href="{{check.url()}}">{{check.name}}</a>, is detected to be running too often</p></br>
<p>Please have a look at it to confirm status.</p>
<p>Thanks,<br>The Healthchecks<span>.</span>io</a> Team</p>
<p>
    <strong>P.S.</strong> Need help getting started? Check out our
    <a href="https://healthchecks.io/docs/">help documentation</a>.
    Or, just reply to this email with any questions or issues you have.
</p>
{% endblock %}